.emotions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.emotions li {
  flex-basis: 180px;
}

.emotions li button {
  border: 3px solid transparent;
  width: 100%;
  background: linear-gradient(215deg, rgba(227,43,135, 0.3), rgba(253, 48, 253, 0.3));
  color: #333;
  font-size: 1.45rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  transition: all 0.4s;
}

.emotions li button:hover {
  border: 3px solid rgba(227,43,135, 0.3);
}

.emotions li button .far {
  font-size: 4rem;
}

.modal-body .far {
  font-size: 3rem;
}